.kanban-board {
  display: flex;
  flex-direction: row;
  gap: 16px;
  height: 100%;
  width: 100%;
}

.code-editor {
  flex: 1;
  height: 100%;
  border: 1px solid #ccc;
  width: 50%;
}
.markdown-preview {
  flex: 1;
  height: 100%;
  border: 1px solid #ccc;
  width: 50%;
  padding-left: 6px;
}
