.menu-custom {
  [role='menuitem'] {
    padding: 10px !important;
    border-radius: 5px;
    margin: 5px 4px;
    cursor: pointer;
  }
  .ant-menu-item-icon {
    font-size: 18px !important;
  }
  .ant-menu-item-title {
    font-size: 18px !important;
  }
}
